.storybook-input {
  border-radius: 5px;
  color: #333;
  height: 26px;
  width: 250px;
  padding: 0 8px;
  float: right;
} 

.storybook-input--secondary {
  color: #333;
  background-color: transparent;
}

.storybook-input--primary {
  color: #1ea7fd;
  border-color: #1ea7fd;
}

.storybook-input--large {
  height: 30px;
}

.storybook-input--small {
  height: 22px;
}

.storybook-label {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  width: 108px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
}

.storybook-label--primary {
  color: #1ea7fd;
}

.storybook-label--secondary {
  color: #333;
}

.storybook-label--large {
  font-size: 22px;
}

.storybook-label--small {
  font-size: 16px;
}

.search-icon {
  position: absolute;
  top: 16px;
  right: 12px;
  font-size: 20px;
}

.search-icon-small {
  top: 12px;
  right: 10px;
  font-size: 16px;
}

.container {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
